@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    private void DoSomething()
    {
        BlazerApiGeneratedClient.Services.TodoApi test = new("https://localhost:7193/api", new HttpClient());

    }
}